/Temp/
/obj/
/Library/
/logs/
/.idea/
*.userprefs
*.csproj
*.sln
*.unityproj
Headers.meta
Assets/.DebugPrefs/

/Assets/Plugins/Editor/JetBrains
/Assets/Plugins/Editor/JetBrains.meta

/.vscode/
/.vs/

/builds/


Assets/_[Tt]ests/